@use "../mixins";

.content-wrapper__add-note {
  margin: 11.4rem 2rem 0 20.3rem;
  // display: none;
}
.add-note__form {
  display: flex;
  flex-direction: column;
  gap: 3.9rem;
}
.add-note__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50rem;
}
.add-note__label {
  @include mixins.bodySm();
}
.add-note__input {
  @include mixins.bodyLg();
  background-color: var(--color-gray3);
  border-radius: 7px;
  border: none;
  padding: 0.9rem;
  max-width: 50rem;
  min-width: 28.8rem;
}
textarea {
  height: 15rem;
  resize: none;
}
.add-note__btns {
  display: flex;
  gap: 2.7rem;
}
