@mixin font($size, $lineHeight) {
  font-size: $size;
  line-height: $lineHeight;
}
@mixin heading1() {
  @include font($size: 2.6rem, $lineHeight: 3.1rem);
}
@mixin heading2() {
  @include font($size: 2rem, $lineHeight: 2.4rem);
}
@mixin heading3() {
  @include font($size: 1.6rem, $lineHeight: 2.7rem);
  font-weight: 600;
}
@mixin bodyLg() {
  @include font($size: 1.6rem, $lineHeight: 2.7rem);
}
@mixin bodySm() {
  @include font($size: 1.3rem, $lineHeight: 2rem);
}
