/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .content-wrapper__add-note {
    margin: 9rem 2rem 0 12rem;
  }
  .notes__review {
    margin: 8.4rem 2.6rem 2.6rem 5.9rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .container {
    transform: translateX(-25.8rem);
  }
  .grid--2-cols {
    grid-template-columns: 25.8rem 100vw;
  }
  .menue__header {
    padding-bottom: 2rem;
    z-index: 2;
    position: relative;
    background-color: var(--color-white);
  }
  .btn-close-menue {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 2.1rem 1.6rem;
  }
  .menue__nav {
    margin: 7.9rem 1.6rem;
  }
  .sticky {
    position: fixed;
    left: 25.8rem;
    width: 100vw;
    padding: 1.9rem 1.6rem;
    z-index: 999;
    transition: var(--timing-animation);
  }
  .icon-menue,
  .icon-search {
    display: block;
  }
  .menue__logo {
    padding: 0;
  }
  .menue__form {
    max-width: initial;
    margin: 0 1.6rem;
    transform: translateY(-100%);
  }
  .menue__input {
    width: 100%;
    max-width: initial;
  }
  .section-content {
    display: flex;
    justify-content: center;
  }

  .content-wrapper__add-note,
  .content-wrapper__notes {
    margin: 9.7rem 1.6rem;
  }
  // .content-wrapper__notes {
  //   grid-template-columns: auto 1fr;
  // }
  .btn-add,
  .btn-hide {
    display: none;
  }
  .notes__index {
    min-width: 100vw;
    min-height: auto;
    margin-left: 2rem;
    border-right: 1px solid transparent;
    padding: 0;
    // display: none;
  }
  .note {
    width: 90%;
    margin: 1.6rem;
    overflow: hidden;
  }
  .notes__review {
    margin: 3.9rem 1.6rem;
    max-width: 80vw;
    display: none;
  }
  .content-wrapper__notes {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .add-note__input-wrapper {
    width: auto;
  }
  .add-note__input {
    width: 28.8rem;
  }
}

/******************/
/* ACCESSABILITY */
/*****************/

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(236, 113, 96, 0.5);
}

// notes index sliding (APPLY NOTES SLIDER)
.container:has(.shifted) {
  .section-menue {
    z-index: 2;
  }
  .btn-hide {
    transform: rotate(180deg);
    box-shadow: 0 -0.3rem 2rem 0.3rem rgba(236, 112, 96, 0.26);
  }
  .content-wrapper__notes {
    transform: translateX(-32.2rem);
    width: 100vw;
  }
}

// ENABLE SEARCH BUTTON
.sticky.showSearch {
  & {
    height: 12.4rem;
    background-color: var(--color-gray3);
  }
  .menue__header {
    background-color: transparent;
  }
  .menue__form {
    transform: translateY(25%);
  }
}

// ENABLE MENUE BUTTON
body:has(.menue__nav.show-menue) {
  .container {
    transform: translateX(0);
  }
}
